/*#region media-568px */
@media only screen and (max-width: 568px) {
    .circle {
      float: none;
      margin-right: 6rem !important;
      margin-left: auto;
    }
  }
/*#endregion */
  
/*#region media-424px */
  @media only screen and (max-width: 424px) {
    #work h3 {
      font-size: 3rem;
      }
  
    #hero h1 {
      font-size: 3.5rem !important;
    }
  
    #hero h3 {
      font-size: 1.35rem !important;
    }

    .know-more {
      font-size: 0.9rem;
    }
  }
/*#endregion */
  
/*#region media-360px */
  @media only screen and (max-width: 360px) {
    #work h3 {
      font-size: 2rem;
      }
      
    #hero h1 {
      font-size: 2.5rem !important;
    }

    .know-more {
      font-size: 0.8rem;
    }
  }
/*#endregion */